body {
  font-family: sans-serif;
}

h1 {
  font-weight: 200;
  margin-top: 2px;
}

#topBox {
  display: flex;
  justify-content: space-between;
}

#container {
  display: flex;
  margin-top: 10px;
}

#titleBox {
  height: 20px;
  width: 280px;
  border: none;
  border-bottom: 2px solid palevioletred;
  outline: none;
  font-weight: 100;
  font-size: 20px;
  padding: 10px 10px;
  color: rgb(27, 27, 27);
}

#navigationBar {
  width: 400px;
  height: 580px;
  font-size: 16px;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0px 0px 2px gray;
  overflow: scroll;
}

#rightBar {
  height: 580px;
  margin-left: 10px;
  padding: 31px 0px 0px;
}

#todoItems {
  height: 500px;
  overflow: scroll;
}

#addItem {
  font-size: 16px;
  height: 20px;
  width: 680px;
  margin: 5px;
  outline: none;
  border: none;
  border-bottom: 2px solid deepskyblue;
  outline: none;
  font-weight: 100;
  padding: 5px 10px;
  color: rgb(27, 27, 27);
}

#addTitleButton {
  border: 2px solid gray;
  background-color: white;
  color: gray;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  outline: gray;
}

#addTitleButton:hover {
  color: white;
  background-color: gray;
}

#addItemButton {
  border: 2px solid gray;
  background-color: white;
  color: gray;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
#addItemButton:hover {
  color: white;
  background-color: gray;
}

#titleContainer {
  height: 520px;
  overflow: scroll;
}

#topHeading {
  display: flex;
}

.todoHeading {
  font-weight: 200;
  color: gray;
  padding-left: 8px;
  cursor: pointer;
  overflow: scroll;
  outline: none;
  cursor: text;
  min-width: 30px;
  border-left: gray 1px solid;
}

.todoHeading::-webkit-scrollbar {
  height: 0 !important;
  width: 0 !important;
}

.highlight {
  font-weight: bolder;
  border-left: gray 4px solid;
}

.itemClass {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.item {
  width: 700px;
  margin-left: 20px;
  font-size: 20px;
  color: rgb(40, 40, 40);
  cursor: text;
  min-width: 500px;
  outline: none;
}

.item:focus {
  border-bottom: solid skyblue 1px;
}

.itemClass:hover {
  background-color: lightcyan;
}

.itemClass:hover > img {
  display: block;
}

.hide {
  transform: scale(0);
  height: 0px;
}

.mark {
  opacity: 0.4;
}

.marker {
  height: 15px;
  width: auto;
  margin-left: 10px;
  margin-top: 25px;
}

.paragraph {
  display: flex;
}

.img {
  margin-top: 8px;
  padding: 20px;
  right: 0;
  height: 15px;
  width: auto;
  display: none;
}

.heading {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.heading:hover {
  background-color: snow;
}

.heading:hover > img {
  display: block;
}

.topHeading {
  display: flex;
  justify-content: space-between;
}

.searchTodo {
  height: 20px;
  content: url(../resource/todoSearch.png);
}

.searchTask {
  height: 20px;
  content: url(../resource/taskSearch.png);
}

.togglingButton + label > div > input {
  outline: none;
  border: none;
  line-height: 40px;
  font-size: 20px;
  font-weight: 100;
  color: black;
  background: transparent;
  width: 0;
  visibility: hidden;
  transition: 300ms;
}

.togglingButton + label > div {
  background-color: rgb(190, 190, 190);
  margin: 0 5px 0 20px;
  border-radius: 25px;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

.togglingButton {
  display: none;
}

.togglingButton:checked + label > div > input {
  visibility: visible;
  padding: 0 10px;
  width: 220px;
}

.togglingButton:checked + label > div > div {
  content: url(../resource/cross.png);
}

.togglingButton + label > div > input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

#logout {
  height: 40px;
  cursor: pointer;
  margin: 5px 15px;
}
