body {
  font-family: sans-serif;
}

h1 {
  font-weight: 200;
}

#container {
  display: flex;
}

#titleBox {
  height: 20px;
  width: 280px;
  border: none;
  border-bottom: 2px solid deepskyblue;
  outline: none;
  font-weight: 100;
  font-size: 20px;
  padding: 5px 10px;
  color: rgb(27, 27, 27);
}

#navigationBar {
  width: 400px;
  height: 580px;
  font-size: 16px;
  overflow: scroll;
  margin: 0px;
  padding: 31px 0px 0px;
  border: 1px solid rgb(230, 230, 230);
}

#todoItems {
  overflow: scroll;
}

#addItem {
  font-size: 16px;
  height: 20px;
  width: 680px;
  margin: 5px;
  outline: none;
  text-align: center;
}

#addTitleButton {
  border: 2px solid gray;
  background-color: white;
  color: gray;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
}

#addTitleButton:hover {
  color: white;
  background-color: gray;
}

.todoHeading {
  font-weight: 200;
  color: gray;
  padding-left: 8px;
  cursor: pointer;
}
.todoHeading:hover {
  color: black;
}

.highlight {
  font-weight: bolder;
}

.item {
  width: 700px;
  margin-left: 10px;
  font-size: 20px;
  color: rgb(40, 40, 40);
  padding-bottom: 8px;
  border-bottom: solid 1px gray;
  cursor: pointer;
  transition: 0.3s;
}

.item:hover {
  transition: 0.3s;
  color: gray;
}
.hide {
  display: none;
}

.mark {
  text-decoration: line-through;
}
